<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user management system</title>
    <link rel="stylesheet"  href='/static/style.css'>
</head>
<body>
    <div class="body" >
    <div class="head">
    <h1>USER MANAGEMENT SYSTEM</h1>
</div>
  
    <form class="form" action="{{ url_for('login') }}" method="post">
	    {% if mesage is defined and mesage %}
			<div id="message-container">{{ mesage }}</div>
		{% endif %}

        Email:
        <input class="mail" type="text" name="email" required/>
        <br/><br/>
        Password:
        <input class="psw" type="text" name="password" required/>
        <br/><br/>
        <button class="btn" type="submit">Login</button>
        <p >Don't have an account?  <a class="bottom" href="{{url_for('register')}}"> Register here</a></p>
   

    </form>
</div>
</body>
</html>