<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
    <div class="container"> 
    <h1 class="head" >VIEW USERS</h1>
    
        
            

            {% block content %}

            <table border = 5>
                <tr id="name">
                <th>ID</th>
                <th>FIRSTNAME</th>
                <th>LASTNAME</th>
                <th>EMAIL</th>
                <th>PASSWORD</th>
                <th>ROLE</th>
                <th>COUNTRY</th>
            </tr>  
              
              {% for user in userDetails %}
              
              <tr>
                
              <td>{{user[0]}}</td>
              
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
              <td>{{ user[4].replace(user[4], '*'* (user[4]|length)) }}</td>
              <td>{{user[5]}}</td>
              <td>{{user[6]}}</td>
              <td>{{user[7]}}</td>
              <td>
                
                <a class="edit" href="{{ url_for('edit_user', id=user[0]) }}">Edit</a>
                </td>
                <td>

                <a class="delete" href="{{ url_for('delete_user', id=user[0]) }}">Delete</a>
              </td>
            </tr>
            {% endfor %}
            {% endblock %}
            </table>
        
        
        <br>
        <div class="row">	
            Logged in : <strong>{{session.name}} | <a  class="btn" href="{{ url_for('logout') }}"> Logout</a>
        </div>
        		
    </div>
  
</body>
</html>